<div class="sidebar">
  <div class="class-selector">
    <div>
        <h1 class="title">MIAGENDA</h1>
      <!-- <div class="calendar-icon">
        <div class="top"></div>
        <div class="content">
          <p>17</p>
        </div>
      </div> -->
      <!-- <select disabled>
        <option value="L3">L3 MIAGE</option>
        <option value="M1" selected="select">M1 MIAGE</option>
        <option value="M2">M2 MIAGE</option>
      </select> -->
    </div>
  </div>
  <hr />

  <div class="content">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Groupe de TD </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox
          [(ngModel)]="tdGroup.TD1"
          (change)="onTdChange('TD1')"
          >TD1</mat-checkbox
        >
        <mat-checkbox
          [(ngModel)]="tdGroup.TD2"
          (change)="onTdChange('TD2')"
          >TD2</mat-checkbox
        >
      </mat-expansion-panel>
    </mat-accordion>

    <hr />

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Groupe de TP </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox
          class="example-margin"
          [(ngModel)]="tpGroup.TP1"
          (change)="onTpChange('TP1')"
          >TP1</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          [(ngModel)]="tpGroup.TP2"
          (change)="onTpChange('TP2')"
          >TP2</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          [(ngModel)]="tpGroup.TP3"
          (change)="onTpChange('TP3')"
          >TP3</mat-checkbox
        >
      </mat-expansion-panel>
    </mat-accordion>

    <hr />

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Formation </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox
          class="example-margin"
          [checked]="!alternant"
          (change)="setAlternant(!alternant)"
          >Initiale</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          [checked]="alternant"
          (change)="setAlternant(!alternant)"
          >Alternant</mat-checkbox
        >
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
