<div class="sidebar">
  <div class="class-selector">
    <div>
      <h1 class="title">MIAGENDA</h1>
      <!-- <div class="calendar-icon">
        <div class="top"></div>
        <div class="content">
          <p>17</p>
        </div>
      </div> -->
      <!-- <select disabled>
        <option value="L3">L3 MIAGE</option>
        <option value="M1" selected="select">M1 MIAGE</option>
        <option value="M2">M2 MIAGE</option>
      </select> -->
    </div>
  </div>
  <hr />

  <div class="content">
    <div *ngFor="let groupType of groups">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ groupType.name }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let group of groupType.groups">
            <mat-checkbox
              [(ngModel)]="selectedGroups[group]"
              (change)="groupChange(groupType.name, group, $event.checked)"
              >{{ group }}</mat-checkbox
            >
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <hr />
    </div>
  </div>
</div>
