h1,
h2 {
  margin: 0;
}

.main-container {
  .head{
    margin-top: 24px;
  }
  display: flex;
  flex-direction: column;
  padding: 0px 16px 6px 16px;
  gap: 12px;
  .group-list:first-child > .title {
    margin-top: 0px;
  }
  .title {
    font-size: 1.3rem;
    font-weight: 700 !important;
  }
  h2 {
    color: #a5a5a5;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .card-black {
    background-color: black;
    border-radius: 24px;
    padding: 14px;
    padding-top: 18px;
    color: white;
    & > p {
      color: white;
      font-size: 1rem;
      font-weight: 600;
      margin: 0px;
    }
    .hint {
      color: #a5a5a5 !important;
      font-size: 0.7rem !important;
    }
    .event {
      margin: 24px 12px;
      border-radius: 8px;
      padding: 6px 12px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 0.7rem;
      height: calc(var(--size) * 100 / 60 * 1%);
      z-index: 2;
      transform: translateY(calc(var(--start) * 1%));
      border: 2px solid #a5a5a5;
      transition: 0.3s;
      overflow: hidden;
      .event-content {
        .title {
          font-weight: 500;
          font-size: 0.9rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: wrap;
        }
        p {
          margin: 0;
          text-overflow: ellipsis;
        }
      }
    }
    .percent {
      font-size: 2.8rem;
      font-weight: 600;
      margin: 0px;
    }
  }
}

.group-list {
  display: flex;
  flex-direction: column;
  hr {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #dedede9a;
    border-radius: 8px;
  }
}