<div class="main-container">
  <div class="head">
    <h1 class="title">Bonjour</h1>
    <h2>Toi</h2>
  </div>
  <div routerLink="/timetable" class="card-black">
    <p class="hint">
      {{ date | date : "dd MMMM, EEEE" }}
    </p>
    <p>Prochain cours dans 2h{{ nextCourse.date | date : "HH:mm" }}</p>
    <div class="event">
      <div class="event-content">
        <p class="title">{{ nextCourse.title }}</p>
        <p class="time">
          {{ nextCourse.start_time }} - {{ nextCourse.end_time }}
        </p>
        <!-- <p class="groups">{{ event.groups }}</p> -->
        <p class="location">{{ nextCourse.location }}</p>
        <p class="professor">{{ nextCourse.professor }}</p>
      </div>
    </div>
    <p class="hint">10/12 cours</p>
    <p class="percent">85%</p>
  </div>
  <div class="group">
    <div *ngFor="let groupType of groups" class="group-list">
      <h3>{{ groupType.name }}</h3>
      <div *ngFor="let group of groupType.groups" class="group-item">
        <mat-checkbox
        class="example-margin"
        [(ngModel)]="selectedGroups[group]"
        (change)="onGroupChange(groupType.name, group)"
      >{{ group }}</mat-checkbox>
      <hr />
      </div>
    </div>
  </div>
</div>
