h1, h2 {
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    padding: 24px 16px 6px 16px;
    .head {
        h2 {
            color: #a5a5a5;
        }
    }
    .card-black {
        background-color: black;
        border-radius: 18px;
        color: white;
    }
}