h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.image-container {
  flex: 1;
  max-width: 50%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  flex: 1;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1.5rem;
  a {
    font-size: 0.6rem;
    text-align: right;
    text-decoration: none;
    color: #2c2c2c;
    font-weight: bold;
    margin-top: 0.5rem;
  }

  input,
  button {
    width: 100%;
  }

  input {
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    height: 2.5rem;
    padding: 0 0.5rem;
    background-color: #e4e4e4;
    color: rgb(0, 0, 0);
  }

  ::placeholder {
    color: rgb(61, 61, 61);
    opacity: 1;
  }

  label {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
}

.login-btn {
  border-radius: 8px;
  background-color: #cfcfcf;
  border: none;
  color: #000000;
  height: 2.5rem;
}
