<div class="main-container">
    <div class="image-container">
        <img src="../../../../assets/miagenda.png" alt="Login image">
    </div>
    <div class="form-container">
        <div class="login-card">
            <div>
                <h4>Log in.</h4>
                <h2>Welcome to MIAGENDA</h2>
            </div>
            <form class="login-form">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="adresse@mail.com" required>
                </div>
                <div>
                    <label for="password" >Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <a href="#">Forgot password?</a>
                </div>
                <button class="login-btn" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>