$accent-base: #8eeec0;
$cutty-sark: #546e7a;
$porcelain: #eceff1;

* {
  box-sizing: border-box;
}

button {
  background-color: #00000000;
  border: none;
}

a {
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.timetable-container {
  width: 100%;
}

.head {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  justify-content: space-between;
  height: 100px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }

  h1 {
    text-transform: capitalize;
  }
  .today {
    border-radius: 6px;
    border: 1px solid #eaeaea;
    padding: 12px 12px;
    background-color: #ffffff00;
    font-weight: 600;
    color: #7e8798;
  }
  .not-today {
    background-color: #f3f5f7;
    color: #000000 !important;
  }
  a {
    text-decoration: none;
    color: #a3a3a3;
    font-weight: 600;
    cursor: pointer;
  }
  .switcher {
    padding: 4px 12px;
    border-radius: 6px;
    background-color: #f3f5f7;
    height: 40px;
    .active {
      background-color: #ffffffff;
      border-radius: 6px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
      font-weight: 600;
    }
    button {
      height: 100%;
    }
  }
}

.timetable {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 60px;
  grid-template-areas:
    "head week"
    "time content";
  overflow: auto;
  position: relative;
  height: calc(100vh - 100px);
  // margin: 0px 8px 12px 12px ;
  border: 1px solid #eaeaea;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  .utc {
    background-color: #f3f5f7;
    text-align: center;
    display: flex;
    // border: 1px solid #eaeaea;
    justify-content: center;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: #9ea1a5;
    }
  }

  .day-name {
    background-color: #f3f5f7;
    text-align: center;
    display: flex;
    border-left: 1px solid #eaeaea;
    .current-day {
      background-color: #e4e4e4;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% / 6);
      height: 100%;
      .num {
        font-weight: 500;
      }
    }
  }
  .weekend {
    background: lighten($porcelain, 5%);
    color: lighten($cutty-sark, 20%);
  }
  .week-names {
    grid-area: week;
    display: grid;
    // 7 days a week
    grid-template-columns: repeat(6, 1fr);
    text-transform: uppercase;
    font-size: 12px;
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      box-shadow: inset 1px 0 0 $porcelain;
    }
  }
  .time-interval {
    grid-area: time;
    display: grid;
    // 6 time intervals
    grid-template-rows: 0.5fr repeat(12, 1fr);
    font-size: 14px;
    color: #9ea1a5;
    & > div {
      display: flex;
      align-items: start;
      justify-content: center;
      width: 100%;
      height: 100%;
      transform: translateY(-12px);
    }
  }
  .content {
    grid-area: content;
    display: grid;
    grid-template-rows: 0.5fr repeat(12, 1fr);
    grid-template-columns: repeat(6, minmax(50px, 1fr));
    position: relative;
    & > div {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2px;
      box-shadow: inset 1px 0 0 #eceff1, inset 0px -1px 0 0 #eceff1;
      padding: 2px;
    }

    .event {
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
      min-height: calc(var(--size) * 100 / 60 * 1%);
      z-index: 2;
      position: relative;
      transform: translateY(calc(var(--start) * 1%));
      background-color: #def5e6;
      overflow: visible;
      transition: background-color 0.3s ease;
      .event-content {
        padding: 6px 12px;
        border-radius: 8px;
        width: 100%;
        position: absolute;
        max-height: 100%;
        transition: max-height 0.1s ease-out, background-color 0.1s ease;
        overflow: hidden;
        text-align: center;
        .title {
          font-weight: 500;
          font-size: 0.9rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: wrap;
        }
        p {
          margin: 0;
          text-overflow: ellipsis;
        }
      }
    }

    .event:hover {
      background-color: #c5f0d9;
      overflow: visible;
      z-index: 10;
      transition: 0s;
      .event-content {
        max-height: 300px;
        background-color: #c5f0d9;
        transition: max-height 0.3s ease-out;
      }
    }
  }
  .current-line {
    position: absolute;
    top: 0; /* Ceci doit être mis à jour dynamiquement en fonction de l'heure actuelle */
    left: -75px;
    right: 0;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    box-sizing: border-box;
    box-shadow: none !important;
    transform: translateY(-10.8px);
    z-index: 10;
    hr {
      margin-left: 30px;
      width: 100%;
      height: 1px;
      border: 1px solid #ee8e8e;
      z-index: 10;
    }
    p {
      border-radius: 8px;
      background-color: #f3f5f7;
      z-index: 10;
      border: 6px solid #f3f5f7;
      box-sizing: content-box;
      position: absolute;
      margin: 0;
      z-index: 11;
    }
  }
}

.mobile-head {
  display: none;
}

.mobile-timetable {
  display: none;
}

@media screen and (max-width: 550px) {
  .head {
    display: none;
  }
  .mobile-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
    color: white;
    height: 192px;
    padding: 18px 0px;
    padding-bottom: 46px;
    margin-bottom: -28px;
    .btn-group {
      padding-left: 18px;
      display: flex;
      flex-direction: row;
      gap: 12px;
      .back {
        display: flex;
        justify-content: center;
        background-color: white;
        color: black;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        padding: 12px;
      }
      .select-wrapper {
        position: relative;
        display: flex;
        align-items: center;
      }
      .select-wrapper:after {
        position: absolute;
        top: 25%;
        right: 0px;
        pointer-events: none;
        transform: translateY(-50%);
      }
      select {
        border: none;
        background-color: #00000000;
        color: white;
        font-family: "Helvetica Neue", sans-serif;
        font-size: 1.2rem;
        padding-right: 6px;
      }
      option {
        font-family: "Helvetica Neue", sans-serif;
        background-color: #00000000;
      }
    }
  }
  .timetable {
    display: none;
  }
  .mobile-timetable {
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    background-color: white;
    width: 100%;
    max-height: calc(100vh - 164px);
    padding: 22px 18px;
    padding-bottom: 0px;
    h1 {
      margin: 0;
      text-transform: capitalize;
    }
    p {
      margin: 0;
    }
    .event-timetable {
      display: grid;
      grid-template-areas: "time-mob content-mob";
      grid-template-columns: 50px;
      overflow: auto;
      height: 100%;

      .hour {
        display: grid;
        grid-area: time-mob;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr repeat(12, 1fr);

        & > div {
          transform: translateY(-10px);
        }
      }
      .content {
        grid-area: content-mob;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr repeat(12, minmax(75px, 1fr));
        & > div {
          display: flex;
          align-items: stretch;
          gap: 4px;
          box-shadow: inset 0px -1px 0 0 #eceff1;
          padding: 2px;
        }
        .event {
          border-radius: 18px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          font-size: 1rem;
          min-height: calc(var(--size) * 100 / 60 * 1%);
          z-index: 2;
          position: relative;
          transform: translateY(calc(var(--start) * 1%));
          background-color: #d4dcec;
          transition: 0.3s;
          overflow: hidden;
          width: 100%;
          .event-content {
            padding: 12px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            .title {
              font-weight: 500;
              font-size: 0.9rem;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: wrap;
              text-align: center;
            }
            p {
              margin: 0;
              text-overflow: ellipsis;
            }
            .groups {
              position: absolute;
              top: 12px;
              right: 12px;
            }
          }
        }
      }
    }
  }
}

.scroll-day {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  gap: 24px;
  a {
    color: #4f4f4f;
  }
  a:last-of-type {
    margin-right: 16px;
  }
  a:first-of-type {
    margin-left: 16px;
  }
  .selected {
    color: white;
  }
  .name {
    font-size: 0.8rem;
    margin: 0;
    // font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
  }
  .num {
    font-size: 2.8rem;
    font-weight: 800;
    margin: 0;
    // font-family: 'Helvetica Neue', sans-serif;
  }
}

.scroll-day::-webkit-scrollbar {
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #00000000;
  color: #4f4f4f;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1rem;
  padding: 6px;
  border-radius: 18px;
  border: none;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik01IDEwTDEyIDJMMTkgMTAiIHN0cm9rZT0iIzlkOWQ5ZCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KICA8cGF0aCBkPSJNNSAxNEwxMiAyMkwxOSAxNCIgc3Ryb2tlPSIjOWQ5ZDlkIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4=');
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 32px;
}
